@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .menuButton {
    @apply text-white tracking-widest uppercase text-xs
    px-6 py-2 mt-4 border rounded-full border-[#242424] cursor-pointer
    transition-all hover:border-primaryVariant hover:text-[#fff]/70;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
}

@font-face {
  font-family: "burtons";
  src: url("../../public/Burtons.otf");
}
